{% extends 'administration/base.html' %}
{% load static %}
{% block title %} Liste des ressources {% endblock %}

{% block body %}
<h6 class="mb-3 text-uppercase p-3 shadow-sm bg-light-primary"><i class='lni lni-bookmark mx-3'></i>LISTE DES RESSOURCES NATURELLES</h6>

				
				<a class="btn btn-blue-s my-3 px-3 py-2" href="/ressources/add"><i class="lni lni-plus mr-2" style="font-size: 10px !important;"></i> Ajouter </a>

				<div class="card">
					<div class="card-body">
						
						<div class="table-responsive">
							<table id="myDataTable" class="table table-striped table-bordered table-hover my-3">
								<thead>
									<tr>
										<th>#</th>
										<th>Image représentative</th>
										<th>Autres images</th>
										<th>Nom</th>
                                        <th>Localisation</th>
										<th class="text-end">Actions</th>
									</tr>
								</thead>
								<tbody>
                                    {% for res in ressources %}
                                    <tr>
										<td>{{res.id}}</td>
										<td class="text-center">
											<img src="{{res.first_pic.image.url}}" alt="Image représentative" height="80">
										</td>
										<td class="text-center">
											<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#viewOthersImages{{res.id}}"
												title="Images" >
												<span class="bx bx-image"></span>
											</button>

												<div class="modal fade col-5" id="viewOthersImages{{res.id}}" aria-labelledby="#exampleScrollableModal" tabindex="-1" aria-hidden="true">
													<div class="modal-dialog modal-dialog-scrollable">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" >Autres images</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body text-center">
																{%if not res.other_pictures.exists%}
																<img src="{% static 'assets-admin/images/not_image.png' %}" alt="Image représentative" height="100" class="mx-3">
																<p class="text-center">Pas d'images</p>
																{%endif%}
																{% for pic in res.other_pictures%}
																<img src="{{pic.image.url}}" alt="Image représentative" height="100" class="mx-3">
																{%endfor%}
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
															</div>
														</div>
													</div>
												</div>
										</td>
                                        <td>{{res.nom}}</td>
                                        <td>{{res.commune.nom}}</td>
                                        <td class="text-end">
											<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#viewDesc{{res.id}}"
												title="Description" >
												<span class="bx bx-text"></span>
											</button>

												<div class="modal fade col-5" id="viewDesc{{res.id}}" aria-labelledby="#exampleScrollableModal" tabindex="-1" aria-hidden="true">
													<div class="modal-dialog modal-dialog-scrollable">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" >Description</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body text-center">{{res.description}}</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
															</div>
														</div>
													</div>
												</div>
                                            <a href="/ressources/edit/{{res.id}}">
                                            <button data-elt-id=""
											class="btn btn-sm btn-edit bx bx-pencil" type="button"
											id="modifier" title="modifier" >
											</button>
                                            </a>
                                            <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteRessources{{res.id}}"
												title="supprimer" >
												<span class="bx bx-trash"></span>
											</button>

												<div class="modal fade col-5" id="deleteRessources{{res.id}}" aria-labelledby="#exampleScrollableModal" tabindex="-1" aria-hidden="true">
													<div class="modal-dialog modal-dialog-scrollable">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleScrollableModal">Confirmation</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body text-center">La suppression de cette ressource naturelle est irréversible. <br>Voulez-vous continuer ?</div>
															<div class="modal-footer">
																<a href="/ressources/delete/{{res.id}}">
																	<button type="button" class="btn btn-danger">Continuer</button>
																</a>
																<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
															</div>
														</div>
													</div>
												</div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
							</table>
						</div>
					</div>
				</div>
{% endblock %}