{% load static %}
<!doctype html>
<html lang="fr">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="{% static 'assets-admin/images/favicon-32x32.png' %}" type="image/png" />
	<!--plugins-->
	<link href="{% static 'assets-admin/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/Drag-And-Drop/dist/imageuploadify.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/fancy-file-uploader/fancy_fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/input-tags/css/tagsinput.css' %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static 'assets-admin/css/pace.min.css' %}" rel="stylesheet" />
	<script src="{% static 'assets-admin/js/pace.min.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets-admin/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
	<link href="{% static 'assets-admin/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets-admin/css/icons.css' %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static 'assets-admin/css/dark-theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets-admin/css/semi-dark.css' %}" />
	<link rel="stylesheet" href="{% static 'assets-admin/css/header-colors.css' %}" />
    <link href="{% static 'assets-admin/plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet" />
	<link href="{% static 'assets-admin/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'assets-admin/css/python.css' %}" />
	<title>
    {% block title %}
    {% endblock %}
    </title>
</head>


<body>
    
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'assets-admin/images/official_logo.png' %}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">POSTE-TOURISME</h4>
				</div>
				<div class="toggle-icon ms-auto bold"><i class='lni lni-list'></i>
				</div>
			</div>
			<!--navigation-->
            {%if user.profil.id == 1%}
			<!-- ADMINISTRATEUR -->
			<ul class="metismenu" id="menu">
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">TABLEAU DE BORD</div>
					</a>
					<ul>
						<li> <a href="/"><i class="bx bx-right-arrow-alt"></i>Acceuil</a>
						</li>
					</ul>
				</li>
                
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class="bx bx-anchor"></i>
						</div>
						<div class="menu-title">ADMINISTRATION</div>
					</a>
					<ul>
						<li>
							<a class="has-arrow" href="javascript:;">
								<div class="parent-icon"><i class="bx bx-data"></i>
								</div>
								<div class="menu-title">SITES HISTORIQUES</div>
							</a>
							<ul>
								<li> <a href="/sites/list"><i class="bx bx-list-ol"></i>Liste</a>
								</li>
								<li> <a href="/sites/add"><i class="bx bx-plus"></i>Ajout</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="has-arrow" href="javascript:;">
								<div class="parent-icon"><i class="bx bx-data"></i>
								</div>
								<div class="menu-title">RESSOURCES NATURELLES</div>
							</a>
							<ul>
								<li> <a href="/ressources/list"><i class="bx bx-list-ol"></i>Liste</a>
								</li>
								<li> <a href="/ressources/add"><i class="bx bx-plus"></i>Ajout</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="has-arrow" href="javascript:;">
								<div class="parent-icon"><i class="bx bx-data"></i>
								</div>
								<div class="menu-title">HISTOIRES</div>
							</a>
							<ul>
								<li> <a href="/histoires/list"><i class="bx bx-list-ol"></i>Liste</a>
								</li>
								<li> <a href="/histoires/add"><i class="bx bx-plus"></i>Ajout</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="has-arrow" href="javascript:;">
								<div class="parent-icon"><i class="bx bx-data"></i>
								</div>
								<div class="menu-title">EVENEMENTS</div>
							</a>
							<ul>
								<li> <a href="/events/list"><i class="bx bx-list-ol"></i>Liste</a>
								</li>
								<li> <a href="/events/add"><i class="bx bx-plus"></i>Ajout</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="has-arrow" href="javascript:;">
								<div class="parent-icon"><i class="bx bx-data"></i>
								</div>
								<div class="menu-title">CIRCUIT STANDARD</div>
							</a>
							<ul>
								<li> <a href="/circuits/list"><i class="bx bx-list-ol"></i>Liste</a>
								</li>
								<li> <a href="/circuits/add"><i class="bx bx-plus"></i>Ajout</a>
								</li>
							</ul>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="/reservations/list">
						<div class="parent-icon"> <i class="bx bx-user-check"></i>
						</div>
						<div class="menu-title">RESERVATIONS</div>
					</a>
				</li>
				
			</ul>
			
            {%endif%}
			<!-- VISITEUR -->
			{% if user.profil.id == 2 %}
            <ul class="metismenu" id="menu">
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">TABLEAU DE BORD</div>
					</a>
					<ul>
						<li> <a href="/"><i class="bx bx-right-arrow-alt"></i>Acceuil</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">PERSONNALISATION</li>
                <li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class="bx bx-barcode-reader"></i>
						</div>
						<div class="menu-title">CIRCUITS</div>
					</a>
					<ul>
                        <li> <a href="/circuits_VIP"><i class="bx bx-list-ol"></i>Liste VIP</a>
						</li>
					</ul>
				</li>
				
			</ul>
			{%endif%}
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative search-bar-box">
						</div>
					</div>
					<div class="top-menu ms-auto" hidden>
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">	<i class='bx bx-category'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-cosmic text-white"><i class='bx bx-group'></i>
											</div>
											<div class="app-title">Teams</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-burning text-white"><i class='bx bx-atom'></i>
											</div>
											<div class="app-title">Projects</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-lush text-white"><i class='bx bx-shield'></i>
											</div>
											<div class="app-title">Tasks</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-kyoto text-dark"><i class='bx bx-notification'></i>
											</div>
											<div class="app-title">Feeds</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-blues text-dark"><i class='bx bx-file'></i>
											</div>
											<div class="app-title">Files</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto bg-gradient-moonlit text-white"><i class='bx bx-filter-alt'></i>
											</div>
											<div class="app-title">Alerts</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">7</span>
									<i class='bx bx-bell'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Notifications</p>
											<p class="msg-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="header-notifications-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i class="bx bx-group"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec
												ago</span></h6>
													<p class="msg-info">5 new user registered</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-danger text-danger"><i class="bx bx-cart-alt"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Orders <span class="msg-time float-end">2 min
												ago</span></h6>
													<p class="msg-info">You have recived new orders</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-success text-success"><i class="bx bx-file"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">24 PDF File<span class="msg-time float-end">19 min
												ago</span></h6>
													<p class="msg-info">The pdf files generated</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-warning text-warning"><i class="bx bx-send"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Time Response <span class="msg-time float-end">28 min
												ago</span></h6>
													<p class="msg-info">5.1 min avarage time response</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-info text-info"><i class="bx bx-home-circle"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Product Approved <span
												class="msg-time float-end">2 hrs ago</span></h6>
													<p class="msg-info">Your new product has approved</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-danger text-danger"><i class="bx bx-message-detail"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Comments <span class="msg-time float-end">4 hrs
												ago</span></h6>
													<p class="msg-info">New customer comments recived</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-success text-success"><i class='bx bx-check-square'></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Your item is shipped <span class="msg-time float-end">5 hrs
												ago</span></h6>
													<p class="msg-info">Successfully shipped your item</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i class='bx bx-user-pin'></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New 24 authors<span class="msg-time float-end">1 day
												ago</span></h6>
													<p class="msg-info">24 new authors joined last week</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-warning text-warning"><i class='bx bx-door-open'></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Defense Alerts <span class="msg-time float-end">2 weeks
												ago</span></h6>
													<p class="msg-info">45% less alerts last 4 weeks</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Notifications</div>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">8</span>
									<i class='bx bx-comment'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Messages</p>
											<p class="msg-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="header-message-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-1.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Daisy Anderson <span class="msg-time float-end">5 sec
												ago</span></h6>
													<p class="msg-info">The standard chunk of lorem</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-2.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Althea Cabardo <span class="msg-time float-end">14
												sec ago</span></h6>
													<p class="msg-info">Many desktop publishing packages</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-3.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Oscar Garner <span class="msg-time float-end">8 min
												ago</span></h6>
													<p class="msg-info">Various versions have evolved over</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-4.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Katherine Pechon <span class="msg-time float-end">15
												min ago</span></h6>
													<p class="msg-info">Making this the first true generator</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-5.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Amelia Doe <span class="msg-time float-end">22 min
												ago</span></h6>
													<p class="msg-info">Duis aute irure dolor in reprehenderit</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-6.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Cristina Jhons <span class="msg-time float-end">2 hrs
												ago</span></h6>
													<p class="msg-info">The passage is attributed to an unknown</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-7.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">James Caviness <span class="msg-time float-end">4 hrs
												ago</span></h6>
													<p class="msg-info">The point of using Lorem</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-8.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Peter Costanzo <span class="msg-time float-end">6 hrs
												ago</span></h6>
													<p class="msg-info">It was popularised in the 1960s</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-9.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">David Buckley <span class="msg-time float-end">2 hrs
												ago</span></h6>
													<p class="msg-info">Various versions have evolved over</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-10.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Thomas Wheeler <span class="msg-time float-end">2 days
												ago</span></h6>
													<p class="msg-info">If you are going to use a passage</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{% static 'assets-admin/images/avatars/avatar-11.png' %}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Johnny Seitz <span class="msg-time float-end">5 days
												ago</span></h6>
													<p class="msg-info">All the Lorem Ipsum generators</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Messages</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{%if user.photo %}{{ user.photo.url }}{% else %}{% static 'assets-admin/images/icons/profile.png' %}{%endif%}" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">{{user.prenom}} {{user.nom}}</p>
								<p class="designattion mb-0 text-end">{{user.profil.libelle}}</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/profil"><i class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="/logout"><i class='bx bx-log-out-circle'></i><span>Se déconnecter</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
        
		<div class="page-wrapper">
			<div class="page-content">
                {% if error %}
				<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
					<div class="d-flex align-items-center">
						<div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
						</div>
						<div class="ms-3">
							<h6 class="mb-0 text-white">Erreur </h6>
							<div class="text-white">{{error}}</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
                {% endif %}
				
				{% if success %}
				<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2">
					<div class="d-flex align-items-center">
						<div class="font-35 text-white"><i class='bx bxs-check-circle'></i>
						</div>
						<div class="ms-3">
							<h6 class="mb-0 text-white">Succès</h6>
							<div class="text-white">{{success}}</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{%endif%}

                {% block body %}

                {% endblock %}
            </div>
		</div>
        

		<!--end page wrapper -->
        {% block footer %}
		<div class="col">
			<!-- Button trigger modal -->
			
			<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Récapitulatif</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body" id="recap">
							
						</div>
						<div class="modal-footer">
							<button id="valider" class="btn btn-primary">Valider</button>
    						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2024. All right reserved.</p>
		</footer>
        {% endblock %}
	</div>
	<!--end wrapper-->
	 
	<!-- Bootstrap JS -->
	<script src="{% static 'assets-admin/js/bootstrap.bundle.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'assets-admin/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!--app JS-->
    <script>
		$(document).ready(function() {
			$('#myDataTable').DataTable();
		  } );
	</script>
	
    <script src="{% static 'assets-admin/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/select2/js/select2.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/input-tags/js/tagsinput.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/fancy-file-uploader/jquery.fancy-fileupload.js' %}"></script>
	<script>
		$('.single-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
		$('.multiple-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
	</script>
    <script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
	<script>
		$('#fancy-file-upload').FancyFileUpload({
			params: {
				action: 'fileuploader'
			},
			maxfilesize: 1000000
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#image-uploadify').imageuploadify();
		})
	</script>

	

	<script src="{% static 'assets-admin/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
	<script src="{% static 'assets-admin/plugins/highcharts/js/highcharts.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'assets-admin/js/app.js' %}"></script>
	<script src="{% static 'assets-admin/js/python.js' %}"></script>
</body>

</html>